img {
  height: 100px;
  border-radius: 10px;
}

legend {
  color: #2980b9;
  font-size: 20px;
  font-weight: bold;
}

fieldset {
  border: 7px solid black;
  font-weight: bold;
  border-radius: 10px;
}

label, h3, h4 {
  color: #2980b9;
  font-weight: bold;
}

.cost {
  color: #2980b9;
}

.button {
  background-color: #2980b9;
}

.form-row {
  border-bottom: 2px solid black;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}
